/* Styling for links */
a {
    text-decoration: none;
    color: black;
}

/* Global styling for the entire container */
.container {
    font-family: "Roboto", Arial;
    font-size:20px;
    height: 100vh;
}

/* Header styling */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    border: 0px 0px 0px 10px; /* Border on the left side only */
    background-color: #b7dbffca;
    /* height: 5vh; */
}

/* Styling for the left section of the header */
.left-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Styling for links within the left header */
.left-header a {
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
}

/* Styling for the header image */
.header-img {
    height: 40px;
}

/* Styling for the right section of the header */
.right-header {
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

.right-header p {
    margin: auto;
}

/* Main content styling */
.main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

/* Styling for the left main section */
.left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 20%; */
}

/* Styling for text elements within the left main section */
.symbol-text {
    padding: 5px;
    white-space: nowrap;
}

/* Styling for every elements within the left main section */
.left-main > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling for symbol images within the left main section */
.symbol-img {
    width: 80%;
    display: flex;
    flex-direction: row;

    align-items: center;
    border-radius: 10px;
    background-color: #f3f7fb;
    text-align: center;
}

/* Styling for the center main section */
.center-main {
    /* width: 50%; */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: auto;
    height: 80vh;
}

/* Styling for the upper part of the center main section */
.upper-center-main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Styling for the body part of the center main section */
.body-center-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}



/* Styling for the right main section */
.right-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30%; */
}

/* Styling for the various sections within the right main section */
.right-info {
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f3f7fb;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-wallet {
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f3f7fb;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Styling for personal information within the right main section */
.right-info-personal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Styling for recent tasks within the right main section */
.right-recent-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: lighter;
    padding: 5px;
    width: 80%;
    align-items: center;
    border-radius: 10px;
    background-color: #f3f7fb;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styling for different types of recent task paragraphs */
.right-recent-task div p.plus {
    color: green;
}

.right-recent-task div p.minus {
    color: red;
}

.right-recent-task div p.title {
    font-weight: bold;
}

/* Footer styling */
.footer {
    background-color: #b7dbffca;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
    font-size: 0.8rem;
    /* height: 15vh; */
}

.footer-copyright {
    text-align: center;
}

/* Styling for links in the footer */
.links {
    display: flex;
    justify-content: space-around;
}

/* Styling for elements within the links section */
.links > * {
    display: flex;
    flex-direction: column;
}

.links div > * {
    margin: 10px 0px;
}

/* Styling for disabled elements */
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/* Styling for a form */
.form {
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.5);
    display: flex;
    flex-direction: column;
}

/* Styling for elements within a form */
.form > * {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.form p {
    font-style: italic;
    font-weight: bold;
}
.form button {
    font-weight: bold;
    font-style: italic;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .main{
        grid-template-columns: 1fr;
        /* font-size: 0.6rem; */
        /* color: green; */
    }
}
