/* Styling for links */
a {
    text-decoration: none;
    color: black;
}

/* Global styling for the entire container */
body {
    font-family: "Roboto", Arial;
    font-size:20px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b7dbff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e96ae; 
  }

/* Header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #b7dbff;
    height: fit-content;
}

/* Styling for the left section of the header */
.left-header {
    display: flex;
    align-items: center;
}

/* Styling for links within the left header */
.left-header a {
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
}

/* Styling for the header image */
.left-header img {
    height: 70px;
}

/* Styling for the right section of the header */
.right-header {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
}

/* Main content styling */
main {
    display: flex;
    align-items: start;
    height: fit-content;
}

/* Styling for the left main section */
.left-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: sticky;
    top: 0;
}

/* Styling for symbol images within the left main section */
.symbol-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 60px;
    border-radius: 10px;
    background-color: #f3f7fb;
    margin: 10px 0;
    transition: transform 0.3s;
    white-space: nowrap;
}

.symbol-img:hover{
    border: 3px solid black;
    background-color: rgba(155, 155, 155, 0.49);
    transform: scale(1.1);
}
.symbol-img img {
    height: 20px;
    margin-right: 10px;
}

.symbol-img p {
    text-align: center;
}

/* Styling for the center main section */
.center-main {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Styling for the upper part of the center main section */
.upper-center-main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Styling for the body part of the center main section */
.body-center-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}



/* Styling for the right main section */
.right-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    width: 20%;
    position: sticky;
    top: 0;
}

/* Styling for the various sections within the right main section */


.right-main > * {
    transition: transform 0.3s;
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f3f7fb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-main > *:hover{
    border: 3px solid black;
    background-color: rgba(155, 155, 155, 0.49);
    transform: scale(1.1);

}

/* Styling for personal information within the right main section */

.right-info-personal h3 {
    margin: 5px 0;
}
.right-info-personal p {
    margin: 0;
}

.right-recent-task div {
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.713);
    width: 80%;
    border-radius: 10px;
    font-size: .7rem;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

/* Styling for different types of recent task paragraphs */
.right-recent-task div p.plus {
    color: green;
}

.right-recent-task div p.minus {
    color: red;
}

.right-recent-task div p.title {
    font-weight: bold;
}

/* Footer styling */
.footer {
    background-color: #b7dbffca;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
    font-size: 0.8rem;
    height: fit-content;
}

.footer-copyright {
    text-align: center;
}

/* Styling for links in the footer */
.links {
    display: flex;
    justify-content: space-around;
}

/* Styling for elements within the links section */
.links > * {
    display: flex;
    flex-direction: column;
}

.links div > * {
    margin: 10px 0px;
}

/* Styling for disabled elements */
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/* Styling for a form */
.form {
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.5);
    display: flex;
    flex-direction: column;
}

/* Styling for elements within a form */
.form > * {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.form p {
    font-style: italic;
    font-weight: bold;
}
.form button {
    font-weight: bold;
    font-style: italic;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    .left-main{
        position: static;
        width: 100%;
    }

    .symbol-img{
        width: 60%;
    }

    .right-main{
        position: static;
        width: 100%;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
    }
}
/* Media query for smaller screens */
@media only screen and (max-width: 1200px) {

    .center-main{
        width: 50%;
    }
}